.row
  .small-12.columns{role: "content"}
    %article
      %h3
        %a{href: "#"}
          = @website.home_page.call_to_action
      %h6
        = @website.home_page.header
      .row
        .medium-6.columns
          %p 
            = @website.home_page.content

        .medium-6.columns
          = image_tag @website.home_page.banner.url
