.row
  .large-9.columns{role: "content"}
    %article
      %h3
        %a{href: "#"}
          = @website.home_page.call_to_action
      %h6
        = @website.home_page.header
      .row
        .large-6.columns
          %p 
            = @website.home_page.content

  = image_tag @website.home_page.banner.url
