%footer.row
  %hr
    .large-12.columns
      %h3 Other Places:
      %hr/
    .medium-3.small-6.columns
      %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
      .panel
        %p
          = link_to 'Home', home_website_path(@website)
    .medium-3.small-6.columns
      %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
      .panel
        %p
          = link_to 'About', about_website_path(@website)
    .medium-3.small-6.columns
      %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
      .panel
        %p
          = link_to 'Contact', contact_website_path(@website)
    .medium-3.small-6.columns
      %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
      .panel
        %p
          = link_to 'Website Selection', root_path
  .large-12.columns
    %hr
    %p © Copyright no one at all.