.row
  .large-12.columns
    .nav-bar.right
      %ul.button-group
        %li
          %a.button{href: "#"} Link 1
        %li
          %a.button{href: "#"} Link 2
        %li
          %a.button{href: "#"} Link 3
        %li
          %a.button{href: "#"} Link 4
    .row 
      .small-2
        = image_tag @website.logo.url
    %h1
      = @website.name
    %hr
